[defaults]
roles_path = ansible/roles
log_path = ../logs/ansible.log
inventory = ansible/inventory/hosts.ini
allow_world_readable_tmpfiles = True
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
timeout = 30
local_tmp  = /opt/ansible_tmp

forks = 1
remote_tmp = ~/.ansible/tmp

[ssh_connection]
retries = 3
pipelining = True
